@import url("blocks/menu.css");
@import url("blocks/header.css");
@import url("blocks/footer.css");
@import url("blocks/form-elements.css");
@import url("blocks/comment.css");
@import url("blocks/form-add-comment.css");
@import url("blocks/flash-messages.css");
@import url("blocks/pagination.css");
@import url("blocks/themes-list.css");

html,body {
    height: 100%; /* задаем высоту тела документа */
}
* html .main { /* хак для ie6 */
    height: 100%; /* для ие6, т.к. не понимает min-height */
}
a {
    color: #394DB8;
}
a:visited {
    color: #525A87;
}
a:focus {
    color: green;
}

.page {
    background: #eee;
    font: 13px Arial, sans-serif;
    width: 968px;
    margin: 0 auto;
}
.page__h1 {
    color: #173c0e;
    font-size: 22px;
    margin-top: 25px;
}
.page__h1_author {
    font-weight: normal;
    color: #555;
}
.page__h2 {
    font-size: 16px;
}
.page__h2_underline {
    border-bottom: 1px solid #9c9c9c;
}
.page__content {
    background: none repeat scroll 0 0 #e6e6e6;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #ccc;
    box-shadow: 5px 1px 7px #ccc;
    min-height: 100%;
    padding: 0 30px;
}
.page__header {

}
.page__footer {

    height: 40px; /* высота подвала */
    margin: -40px; /* делаем отрицательный отступ по высоте равный высоте подвла, чтобы четко вписаться в размер экрана */

}

