@import url("blocks/menu.css");
@import url("blocks/header.css");
@import url("blocks/comment.css");
@import url("blocks/form-add-comment.css");

.page {
    background: #eee;
    font: 12px Arial, sans-serif;
    width: 968px;
    margin: 0 auto;
}
.page__h1 {
    font-size: 24px;
}
.page__h2 {
    font-size: 20px;
}
.page__header {

}
