.form-add-comment {
    background: none repeat scroll 0 0 #ccc;
    padding: 0 10px 5px;
    border-radius: 7px;
    width: 500px;
    margin-top: 15px;
    overflow: hidden;
}
.form-add-comment__header {
    font-size: 14px;
    color: #444;
    padding-top: 10px;
    margin: 0 0 15px;
}
.form-add-comment__text {
    width: 500px;
    max-width: 500px;
}
.form-add-comment__input {
    width: 230px;
}
