.header {
    border-bottom: 1px solid #ccc;
    padding: 13px 0 0 15px;
    font-size: 16px;
    border-radius: 10px;
    background: rgb(191,210,85);
    background: url('/images/bg-header.png') repeat-x;
    overflow: hidden;
}
.header__h {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    padding: 0 10px 1px 0;
    text-decoration: none;
}
.header__h:hover {
    color: #eee;
}
.header__teaser {
    font-size: 12px;
    color: #666;
    margin: 0 0 15px;
    padding: 0;
}